{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
    <a href="{{ url_for('set_data') }}">Set Session Data</a> 
    <br>
    <a href="{{ url_for('get_data') }}">Get Session Data</a>
    <br>
    <a href="{{ url_for('clear_data') }}">Clear Session Data</a>
    <br>
    <br>
    <a href="{{ url_for('set_cookie') }}">Set Cookie Data</a>
    <br>
    <a href="{{ url_for('get_cookie') }}">Get Cookie Data</a>
    <br>
    <a href="{{ url_for('clear_cookie') }}">Clear Cookie Data</a>
    <p>{{ message }}</p>
{% endblock %}